.coucou{color: red}


.autreChallenge{
    border : 4px red solid;
    height: 90vh;
    width: 90vw;
}
.cercle{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #ff8c00;
    position: relative;

}